useDynLib(mixture,main_loop, .registration = TRUE)

export(gpcm)
export(m.step)
export(e.step)
S3method(print, gpcm)

S3method(plot, gpcm)
S3method(summary, gpcm)

importFrom("graphics", "legend", "lines", "plot")
importFrom("stats", "cov.wt", "kmeans", "mahalanobis", "rexp")
importFrom("utils", "data")